In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Datafeeder starting parameters (right now it'll be hardcoded, and later, it will be fetched from a datafeeder_config variable)
data_inputs = {'1min':{'columns':['open', 'high', 'low', 'close', 'volume,' 'SMA15', 'SMA30'], 'lookback':100}, '1d':{'columns':['open', 'high', 'low', 'close', 'volume,' 'SMA15', 'SMA30'], 'lookback':100}}
tickers = ['AAPL', 'MSFT', 'NVDA']

datafeeder_config = {'data_inputs':data_inputs, 'tickers':tickers}

In [11]:
# Create date ranges
date_range_1min = pd.date_range(start='2023-01-01', periods=100, freq='min')
date_range_1d = pd.date_range(start='2023-01-01', periods=100, freq='D')

# Generate random prices and other data
np.random.seed(0)

def generate_data(date_range, granularity):
    data = []
    for date in date_range:
        for ticker in tickers:
            open_price = np.random.uniform(100, 200)
            high_price = open_price + np.random.uniform(0, 10)
            low_price = open_price - np.random.uniform(0, 10)
            close_price = np.random.uniform(low_price, high_price)
            volume = np.random.randint(1000, 10000)
            sma15 = np.random.uniform(100, 200)
            sma30 = np.random.uniform(100, 200)
            data.append([granularity, date, ticker, open_price, high_price, low_price, close_price, volume, sma15, sma30])
    return data

data_1min = generate_data(date_range_1min, '1min')
data_1d = generate_data(date_range_1d, '1d')

# Create DataFrames
columns = ['Granularity', 'Datetime', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Volume', 'SMA15', 'SMA30']
df_1min = pd.DataFrame(data_1min, columns=columns)
df_1d = pd.DataFrame(data_1d, columns=columns)

# Concatenate DataFrames
df = pd.concat([df_1min, df_1d])

# Set multi-index
df.set_index(['Granularity', 'Datetime', 'Ticker'], inplace=True)

# Pivot the DataFrame to have tickers as columns
df = df.unstack(level='Ticker')

In [12]:
df

                                       Open                          \
Ticker                                 AAPL        MSFT        NVDA
Granularity Datetime
1d          2023-01-01 00:00:00  140.221835  137.208412  172.974142
            2023-01-02 00:00:00  103.504400  185.809012  137.736925
            2023-01-03 00:00:00  131.014903  147.481434  108.167300
            2023-01-04 00:00:00  138.692858  147.907492  176.971950
            2023-01-05 00:00:00  156.431004  165.774658  120.777170
...                                     ...         ...         ...
1min        2023-01-01 06:35:00  101.816509  181.613664  178.306053
            2023-01-01 06:36:00  112.053879  100.294058  184.330567
            2023-01-01 06:37:00  193.277099  104.654761  182.329154
            2023-01-01 06:38:00  111.120292  189.849996  166.723863
            2023-01-01 06:39:00  152.935256  146.526024  119.919071

                                       High                          \
Ticker                                 AAPL        MSFT        NVDA
Granularity Datetime
1d          2023-01-01 00:00:00  140.949666  142.832828  174.417021
            2023-01-02 00:00:00  104.421948  192.973815  145.333907
            2023-01-03 00:00:00  132.352297  156.448582  113.547204
            2023-01-04 00:00:00  145.412309  153.260191  177.022570
            2023-01-05 00:00:00  157.380190  170.949868  122.741506
...                                     ...         ...         ...
1min        2023-01-01 06:35:00  103.283051  187.010602  185.058783
            2023-01-01 06:36:00  118.538550  105.547976  190.053089
            2023-01-01 06:37:00  195.353848  109.994687  189.642659
            2023-01-01 06:38:00  115.872112  199.491357  169.682920
            2023-01-01 06:39:00  153.147166  150.661593  128.246703

                                        Low                          \
Ticker                                 AAPL        MSFT        NVDA
Granularity Datetime
1d          2023-01-01 00:00:00  132.034592  133.596053  167.751686
            2023-01-02 00:00:00  103.482617  177.262607  137.005430
            2023-01-03 00:00:00  122.994060  146.284704   98.958708
            2023-01-04 00:00:00  134.527173  143.476688  168.138851
            2023-01-05 00:00:00  152.461450  159.152384  112.736182
...                                     ...         ...         ...
1min        2023-01-01 06:35:00   95.642113  172.362398  175.191349
            2023-01-01 06:36:00  110.416618   92.374665  176.391124
            2023-01-01 06:37:00  191.105501   99.849470  177.973533
            2023-01-01 06:38:00  107.518985  181.200065  161.403646
            2023-01-01 06:39:00  143.454826  140.244467  117.617456

                                      Close  ...             Volume        \
Ticker                                 AAPL  ...        NVDA   AAPL  MSFT
Granularity Datetime                         ...
1d          2023-01-01 00:00:00  135.627244  ...  172.842466   7148  6832
            2023-01-02 00:00:00  104.206490  ...  143.367488   1487  1883
            2023-01-03 00:00:00  127.469320  ...  100.079929   5751  8460
            2023-01-04 00:00:00  138.706729  ...  172.074512   4565  4385
            2023-01-05 00:00:00  157.124122  ...  115.640148   5117  2627
...                                     ...  ...         ...    ...   ...
1min        2023-01-01 06:35:00   95.661315  ...  184.576159   9764  4013
            2023-01-01 06:36:00  117.739366  ...  179.378101   7014  8956
            2023-01-01 06:37:00  194.309799  ...  186.159925   8428  4687
            2023-01-01 06:38:00  107.803861  ...  169.431240   6326  3654
            2023-01-01 06:39:00  150.030577  ...  123.510434   7342  5303

                                            SMA15                          \
Ticker                           NVDA        AAPL        MSFT        NVDA
Granularity Datetime
1d          2023-01-01 00:00:00  5647  167.341684  170.377841  153.021577
            2023-01-02 00:00:00  4693  100.644604  183.599480  136.997573
            2023-01-03 00:00:00  2766  186.178002  126.787333  164.669250
            2023-01-04 00:00:00  3075  161.034486  167.370885  122.218695
            2023-01-05 00:00:00  2130  171.772936  184.079957  176.490868
...                               ...         ...         ...         ...
1min        2023-01-01 06:35:00  3563  198.644977  146.391744  190.157010
            2023-01-01 06:36:00  6095  175.395447  126.020127  125.283516
            2023-01-01 06:37:00  7958  177.766884  132.316779  193.583601
            2023-01-01 06:38:00  3379  149.577462  158.295280  176.706970
            2023-01-01 06:39:00  6106  174.324501  138.761408  102.579448

                                      SMA30
Ticker                                 AAPL        MSFT        NVDA
Granularity Datetime
1d          2023-01-01 00:00:00  144.347637  144.684838  116.624516
            2023-01-02 00:00:00  126.835305  109.272101  106.138790
            2023-01-03 00:00:00  145.130447  197.326399  153.193320
            2023-01-04 00:00:00  194.106375  133.261515  189.413319
            2023-01-05 00:00:00  129.217422  174.327416  172.211160
...                                     ...         ...         ...
1min        2023-01-01 06:35:00  101.167574  133.439050  140.329080
            2023-01-01 06:36:00  133.902340  110.555560  189.738882
            2023-01-01 06:37:00  108.993894  107.610170  150.078172
            2023-01-01 06:38:00  131.783420  193.554024  184.222984
            2023-01-01 06:39:00  155.676608  136.126683  150.351411

[800 rows x 21 columns]

In [16]:
# # Filter for '1min' granularity and 'AAPL' ticker
df.loc['1min'].xs('AAPL', axis=1, level='Ticker')

,Open,High,Low,Close,Volume,SMA15,SMA30
Datetime,,,,,,,
2023-01-01 00:00:00,154.881350,162.033244,148.853717,156.035019,8891,164.589411,143.758721
2023-01-01 00:01:00,147.360805,155.369912,142.156030,151.126664,9615,163.992102,114.335329
2023-01-01 00:02:00,190.234858,191.227662,180.536768,187.519419,9622,135.815217,175.068614
2023-01-01 00:03:00,165.632959,167.014788,163.667135,164.901499,8365,101.357164,162.284610
2023-01-01 00:04:00,106.414750,113.339471,100.748735,104.090184,6531,191.672295,192.115761
...,...,...,...,...,...,...,...
2023-01-01 06:35:00,101.816509,103.283051,95.642113,95.661315,9764,198.644977,101.167574
2023-01-01 06:36:00,112.053879,118.538550,110.416618,117.739366,7014,175.395447,133.902340
2023-01-01 06:37:00,193.277099,195.353848,191.105501,194.309799,8428,177.766884,108.993894
2023-01-01 06:38:00,111.120292,115.872112,107.518985,107.803861,6326,149.577462,131.783420
2023-01-01 06:39:00,152.935256,153.147166,143.454826,150.030577,7342,174.324501,155.676608

In [18]:
# Get the 'Close' prices for '1min' granularity and 'AAPL' ticker
df.loc['1min'].xs('AAPL', axis=1, level='Ticker')['Close']

Datetime
2023-01-01 00:00:00    156.035019
2023-01-01 00:01:00    151.126664
2023-01-01 00:02:00    187.519419
2023-01-01 00:03:00    164.901499
2023-01-01 00:04:00    104.090184
                          ...
2023-01-01 06:35:00     95.661315
2023-01-01 06:36:00    117.739366
2023-01-01 06:37:00    194.309799
2023-01-01 06:38:00    107.803861
2023-01-01 06:39:00    150.030577
Name: Close, Length: 400, dtype: float64